.msg-user-div{
    width: 370px;
    position: absolute;
    left: 251px;
    border-radius: 0 20px 20px 0;
    border: 1px solid rgb(230, 230, 230);
    height: 100vh;
    box-shadow: 7px 0 29px 0px rgba(100, 100, 111, 0.2);
    overflow: scroll;
}

.msg-chat-div{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    height: 700px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.msg-chat-header{
    width: 100%;
    padding-left: 10px;
}

.msg-chat-container{
    height: 648px;
    border-radius: 0 0 20px 20px;
    position: relative;
}

.chat-input-div{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid rgb(188, 188, 188);
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.chat-input{
    height: 100%;
    width: 90%;
    font-size: large;
    border: none;
    outline: none;
    border-radius: 0 0 0 20px;
    padding: 0 0 0 10px;
}

.chat-input-div>span{
    cursor: pointer;
}

.chat{
    width: 100%;
    height: 599px;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
}

.friend-message{
    margin: 10px 0;
    padding: 10px;
    height: fit-content;
    max-width: 50%;
    min-width: fit-content;
}

.user-message{
    align-self: flex-end;
    margin: 10px 0;
    padding: 10px;
    height: fit-content;
    max-width: 50%;
    min-width: fit-content;
}

.info{
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.user-data{
    display: flex;
    align-items: center;
}

.chat-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgb(188, 188, 188);
    object-fit: cover;
}

.message-data{
    background-color: rgb(230, 230, 230);
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: fit-content;
}

.r-img{
    flex-direction: row-reverse;
}

.msg-user-search{
    width: 100%;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.msg-user-search>span{
    width: 100%;
    padding: 0 10px;
    margin: 25px 0;
    font-weight: 800px;
    font-size: x-large;
}

.msg-search-input{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(234, 234, 234);
    width: 90%;
    margin: 10px 0 10px 10px;
    height: 40px;
    border-radius:10px;
}

.msg-search-bar{
    border: none;
    background: rgb(234, 234, 234);
    padding: 0 5px;
    outline: none;
    font-size: large;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
}

@media screen and (max-width: 1260px) {
    .msg-user-div{
        left: 80px;
    }
}

@media screen and (max-width: 1080px) {
    .msg-chat-div{
        width: 500px;
    }
    .msg-user-div{
        width: 350px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 985px) {
    .msg-user-div{
        width: 180px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 800px) {
    .msg-user-div{
        width: 200px;
        left: 0;
    }
    .msg-chat-div{
        top: 55%;
    }
}

@media screen and (max-width: 750px) {
    .msg-chat-div{
        width: 300px;
        top: 55%;
    }
    .user-card-info>small{
        display: none;
    }

}

@media screen and (max-width: 570px) {
    .msg-chat-div{
        width: 270px;
    }
    .msg-user-div{
        width: 100px;
    }
}