.search-card {
  width: 100%;
  padding: 0 10px;
  height: max-content;
  margin: 25px auto;
  border: none;
}

.search-card-header {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
}

.search-card-header>img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.search-card-info{
  padding-left: 15px;
  cursor: pointer;
}